/* Custom CSS */

/*
 * Fonts, text, and icons
 */
.uppercase {
  text-transform: uppercase;
}
.margin-top-1 {
  margin-top: 10px;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../../static/wcoa/fonts/OpenSans/OpenSans-LightItalic-webfont.eot');
  src: url('../../static/wcoa/fonts/OpenSans/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'), url('../../static/wcoa/fonts/OpenSans/OpenSans-LightItalic-webfont.woff') format('woff'), url('../../static/wcoa/fonts/OpenSans/OpenSans-LightItalic-webfont.ttf') format('truetype'), url('../../static/wcoa/fonts/OpenSans/OpenSans-LightItalic-webfont.svg#OpenSans-LightItalic') format('svg');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../../static/wcoa/fonts/OpenSans/OpenSans-Light-webfont.eot');
  src: url('../../static/wcoa/fonts/OpenSans/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../../static/wcoa/fonts/OpenSans/OpenSans-Light-webfont.woff') format('woff'), url('../../static/wcoa/fonts/OpenSans/OpenSans-Light-webfont.ttf') format('truetype'), url('../../static/wcoa/fonts/OpenSans/OpenSans-Light-webfont.svg#OpenSans-Light') format('svg');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../../static/wcoa/fonts/OpenSans/OpenSans-ExtraBold-webfont.eot');
  src: url('../../static/wcoa/fonts/OpenSans/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'), url('../../static/wcoa/fonts/OpenSans/OpenSans-ExtraBold-webfont.woff') format('woff'), url('../../static/wcoa/fonts/OpenSans/OpenSans-ExtraBold-webfont.ttf') format('truetype'), url('../../static/wcoa/fonts/OpenSans/OpenSans-ExtraBold-webfont.svg#OpenSans-ExtraBold') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../../static/wcoa/fonts/OpenSans/OpenSans-Bold-webfont.eot');
  src: url('../../static/wcoa/fonts/OpenSans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../../static/wcoa/fonts/OpenSans/OpenSans-Bold-webfont.woff') format('woff'), url('../../static/wcoa/fonts/OpenSans/OpenSans-Bold-webfont.ttf') format('truetype'), url('../../static/wcoa/fonts/OpenSans/OpenSans-Bold-webfont.svg#OpenSans-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../../static/wcoa/fonts/OpenSans/OpenSans-Italic-webfont.eot');
  src: url('../../static/wcoa/fonts/OpenSans/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'), url('../../static/wcoa/fonts/OpenSans/OpenSans-Italic-webfont.woff') format('woff'), url('../../static/wcoa/fonts/OpenSans/OpenSans-Italic-webfont.ttf') format('truetype'), url('../../static/wcoa/fonts/OpenSans/OpenSans-Italic-webfont.svg#OpenSans-Italic') format('svg');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../../static/wcoa/fonts/OpenSans/OpenSans-Regular-webfont.eot');
  src: url('../../static/wcoa/fonts/OpenSans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../../static/wcoa/fonts/OpenSans/OpenSans-Regular-webfont.woff') format('woff'), url('../../static/wcoa/fonts/OpenSans/OpenSans-Regular-webfont.ttf') format('truetype'), url('../../static/wcoa/fonts/OpenSans/OpenSans-Regular-webfont.svg#OpenSans-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PtMono';
  src: url('../../static/wcoa/fonts/PtMono/PtMono-Bold-webfont.eot');
  src: url('../../static/wcoa/fonts/PtMono/PtMono-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../../static/wcoa/fonts/PtMono/PtMono-Bold-webfont.woff') format('woff'), url('../../static/wcoa/fonts/PtMono/PtMono-Bold-webfont.ttf') format('truetype'), url('../../static/wcoa/fonts/PtMono/PtMono-Bold-webfont.svg#PtMono-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'PtMono';
  src: url('../../static/wcoa/fonts/PtMono/PtMono-Regular-webfont.eot');
  src: url('../../static/wcoa/fonts/PtMono/PtMono-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../../static/wcoa/fonts/PtMono/PtMono-Regular-webfont.woff') format('woff'), url('../../static/wcoa/fonts/PtMono/PtMono-Regular-webfont.ttf') format('truetype'), url('../../static/wcoa/fonts/PtMono/PtMono-Regular-webfont.svg#PtMono-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}
*,
input {
  font-family: "PtMono", "Courier New", Courier, monospace;
  font-style: normal;
  font-weight: normal;
}
p,
p span {
  font-family: OpenSans, sans-serif;
  font-style: normal;
  font-weight: normal;
  word-wrap: break-word;
}

/*
* GeoPortal Overrides
*/
body {
  background-color: white;
}

.modal-dialog {
  margin: 130px auto;
}

/* HEADER - NAV */
.g-header.navbar-inverse {
  min-height: 100px;
}

/* SEARCH PANEL - SEARCHBAR ROW */
.g-search-bar-row {
  box-shadow: none;
  /* click through logic by LawrenceKSRealEstate and TylerH @
    https://stackoverflow.com/a/4839672/706797 */
  background: none !important; /* for IE 11 support */
  pointer-events: none;
}

.g-search-bar-title {
  display: none;
}

/* SEARCH PANEL - SEARCH INPUT OVERRIDES */
.g-search-bar .search-box {
  width: 29%;
  padding: 0;
  pointer-events: all;
}

.g-search-bar .search-box .input-group {
  border: 1px solid #ff3817;
  border-radius: 3px;
}

.g-search-bar .search-box .input-group input {
  width: calc(100% - 60px);
  padding: 8px 10px;
  font-size: 14px;
  font-family: PtMono, "Courier New", Courier, monospace;
}

.g-search-bar .search-box .esri-icon-search {
  margin: 0 5px 0 10px;
  font-size: 14px;
  color: #515151;
  display: none;
}

.g-search-bar .search-box .btn {
  padding: 0 5px;
  background: transparent;
  color: transparent;
  border: none;
  background-image: url("https://catalog.westcoastoceans.org/assets/img/icons/black_search.png");
  background-repeat: no-repeat;
  background-position: center center;
}

/* SEARCH PANEL - CONTENT */
.g-search-pane-left {
  background: none;
}

.g-search-content-row .g-drop-pane {
  box-shadow: none;
  background-color: #F4F2F1;
}

.g-search-pane-left .dijitTitlePaneTitle {
  background-color: #F4F2F1;
  height: 70px;
  color: #332e1f;
  font-size: 22px;
}

.g-filter-collapse {
  border-top: 1px solid #8FB6CC;
  margin-bottom: 0;
}

.g-search-pane-left .g-filter-collapse:nth-of-type(1),
.g-search-pane-left .g-filter-collapse:nth-of-type(2) {
  border-top: none;
}

.g-search-content-row .g-search-pane-left:hover .g-drop-pane {
  background-color: rgba(244,242,241,0.3);
}

.dijitTitlePaneContentOuter {
  display: flex;
}

.g-search-pane-left:hover div.dijitTitlePane div.dijitTitlePaneTitle {
  background-color: rgba(244,242,241,0.0);
  color: rgba(51,46,31,0.5);
  border-top-color: rgba(143,182,204,0.5);
}

.g-search-pane-left div.dijitTitlePane:hover div.dijitTitlePaneTitle {
  background-color: #F4F2F1;
  color: #332e1f;
}

.g-search-pane-left:hover div.dijitTitlePane div.dijitTitlePaneTitle.dijitTitlePaneTitleOpen.dijitOpen{
  background-color: #A0A0A0;
}

.g-search-pane-left:hover div.dijitTitlePane:hover div.dijitTitlePaneTitle.dijitTitlePaneTitleOpen.dijitOpen{
  background-color: #606060;
}

.g-search-pane-left:hover div.dijitTitlePane div.dijitTitlePaneTitle.dijitTitlePaneTitleOpen.dijitOpen .dijitTitlePaneTextNode {
  color: #FFF;
}

.dijitInline,
.g-search-pane-left .dijitTitlePaneTextNode,
.dijitTitlePaneTitleFocus {
  height: 100%;
  font-size: 22px;
}

.dijitTitlePaneTitleFocus:focus {
  outline: none;
}

.dijitArrowNode {
  line-height: 50px;
}

.g-drop-pane .g-drop-pane-arrow svg,
.g-search-pane-left:hover .g-drop-pane:hover .g-drop-pane-arrow svg {
  fill: #332e1f;
}

.g-search-pane-left:hover .g-drop-pane .g-drop-pane-arrow svg {
  fill: rgba(51,46,31,0.5);
}

.g-search-pane-left:hover .g-drop-pane div.dijitTitlePane div.dijitTitlePaneTitle.dijitTitlePaneTitleOpen.dijitOpen .dijitArrowNodeInner,
.g-search-pane-left:hover .g-drop-pane:hover div.dijitTitlePaneTitle.dijitTitlePaneTitleOpen.dijitOpen .g-drop-pane-arrow svg,
.g-search-pane-left:hover .g-drop-pane .dijitOpen .g-drop-pane-arrow svg {
  fill: #FFF;
}

.g-drop-pane-tools {
  padding-top: 17px;
}

.dijitTitlePaneContentOuter {
  background-color: #F4F2F1;
}

.g-search-pane-right {
  top: -60px;
  position: relative;
}

.g-drop-pane .g-entries a {
  font-size: 16px;
  color: #0070cf;
}

/* APPLIED FILTERS */
.g-applied-filter {
  background-color: #F4F2F1;
  border: 1px solid #CCC;
  border-radius: 3px;
}

.g-applied-filter a:hover svg {
  fill: #332e1f;
}

/* SEARCH RESULTS PANE */
.g-search-results-header {
  height: 3rem;
}

.g-paging-count {
  color: #0070cf;
  font-weight: 400;
  font-family: OpenSans,sans-serif;
  font-size: 22px;
}

/* ITEM CARD */
.g-item-card {
  box-shadow: none;
  border-top: dashed 1.111px rgb(166,166,166);
}

.g-item-card:last-child {
  border-bottom: dashed 1px rgb(166,166,166);
}

.g-item-title {
  font-size: 22px;
  text-transform: uppercase;
  line-height: 28px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.g-item-title a {
  color: #333;
}

.g-item-title a:hover,
.g-item-title a:visited,
.g-item-title a:focus {
  text-decoration: none;
}

.g-item-card-info-container {
  display: none;
}

.wcoa-card-wrapper .g-item-description {
  max-height: 200px;
  overflow: hidden;
  display: inline-table;
}

.g-item-description,
.wcoa-card-wrapper {
  cursor: pointer;
}

.wcoa-card-wrapper {
  max-height: 42px;
  transition: max-height 0.8s ease-out;
  border: 1px solid red;
  overflow: hidden;
}

.wcoa-card-wrapper.explode {
  max-height: 500px;
  transition: max-height 1.2s ease-in;
}
.wcoa-card-wrapper.explode .g-item-description {
  /* transition: max-height 1.2s ease-in; */
  overflow: auto;
}

.card-details-wrapper {
  display: flex;
}

.card-details-left-wrapper {
  order: 0;
  flex-grow: 2;
  min-height: 100px;
  border: 1px solid green;
}

.card-details-right-wrapper {
  order: 1;
  flex-grow: 3;
  min-height: 100px;
  border: 1px solid purple;
}

/* .g-item-actions > a[title^="Add to Map"] {
  display: none;
} */

/* Accessibility Changes */
a {
  color: #0070cf;
}

div.g-entry-links > div {
  height: 27px;
}

div.g-entry-links > div:hover {
  max-width: unset;
  height: 34px;
  margin-top: -7px;
  margin-left: -5px;
  z-index: 1;
  padding-top: 9px;
  padding-left: 9px;
}

div.g-entry-links > div:hover > a {
  padding: 4px;
  border: 1px solid #A4A2A1;
  border-radius: 3px;
  background: #F4F2F1;
  margin-left: -7px;
  text-decoration: none;
}

div.g-entry-links > div.iframed:hover {
  padding-top: 4px;
}

div.g-entry-links > div.iframed:hover > a {
  position: fixed;
}
